/* Font */
@font-face {
    font-family: 'Just Me Again Down Here';
    src: url('fonts/JustMeAgainDownHere-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(245, 245, 245, 0.5);
    /* background-color: rgb(255, 204, 177);  */
    /* background-color: rgb(178, 205, 225, 0.5);  */
    /* Other styles for the body */
}


/* Styles for the Landing Page section */
.LandingPage {
    height: 100vh;
}

.Logo {
    position: absolute;
    color: #000000;
    font-size: 100vw; /* Using 12% of the viewport width as the font size */
    font-family: 'Just Me Again Down Here', sans-serif;
    font-weight: 400;
    line-height: 1; /* Reset line height to avoid unnecessary spacing */
    word-wrap: break-word;
    left: 60%; /* Position the logo horizontally in the center */
    top: 35%; /* Position the logo vertically in the center */
    transform: translate(-50%, -50%); /* Center the logo precisely */
}

.Name {
    z-index: 999; /* Set a high z-index value */
    left: 57px;
    top: 60px;
    position: fixed;
    color: black;
    font-size: 15px;
    font-family: 'PT Serif', sans-serif;
    font-weight: 500;
    line-height: 25.60px;
    word-wrap: break-word;
    cursor: pointer; /* Ensure the cursor changes on hover */
}

.NavigationBar {
    z-index: 999; /* Set a high z-index value */
    left: 250px;
    top: 60px;
    position: fixed;
    color: black;
    font-size: 12px;
    font-family: 'PT Serif', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

/* Separate each group of links */
.nav-group {
    margin-bottom: 10px; /* Adjust spacing between groups */
}

/* Adjust styles as needed */
.NavigationBar a {
    margin-right: 20px; /* Adjust spacing between navigation links */
    text-decoration: none; /* Remove underline from links */
    color: black; /* Link color */
}

/*------------------------------------------------------------------------------------*/
/* Styles for the Introduction section */
.Introduction {
    height: 100vh;
    /* Other styles for this section */
}

.IntroTitle {
    width: 800px;
    left: 68%; /* Position horizontally same as the logo */
    top: 110%; /* Position vertically after the logo */
    transform: translate(-50%, -50%); /* Center the content */
    position: absolute;
}

.HelloEverybody {
    color: black;
    font-size: 50px;
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    position: absolute;
}

.MyNameIsBuka {
    margin-top: 20px;
    left: 150px;
    top: 54px;
    color: black;
    font-size: 50px;
    font-family: 'PT Serif', sans-serif;
    font-weight: 400;
    position: absolute;
}

.IAmA {
    margin-top: 30px;
    left: 50px;
    top: 108px;
    color: black;
    font-size: 50px;
    font-family: 'PT Serif', sans-serif;
    font-weight: 400;
    position: absolute;
}

/*------------------------------------------------------------------------------------*/
/* Styles for the Projects section */
.Projects {
    height: 100vh; /* Remove fixed height */
    
}

.ProjectTitle {
    text-align: center; /* Center the title */
    margin-top: 50px; /* Add spacing between title and grid */
    margin-bottom: 20px; /* Add spacing between title and grid */
    color: black;
    font-size: 50px;
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    /* Add the following property to move the title to the right */
}

.ProjectHighlights {
    color: black;
    font-size: 70px;
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    position: absolute;
    transform: rotate(-90deg); /* Rotate the text */
    transform-origin: left top; /* Set the rotation origin */
    
    top: 300%; /* Adjust positioning after rotation */
    left: 33%;
}


.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-auto-rows: 1fr 1fr; /* Two rows */
    grid-gap: 0; /* No gap between grid items */
    justify-content: space-between; /* Align content with space between */
    padding-top: 3vw; /* Set top padding */
    margin-left: 40vw; /* Adjust the left margin */
}

.project {
    position: relative;
    width: 30vw; /* Adjust width */
    height: 100%; /* Adjust height */
    background-color: #f0f0f0; /* Example background color */
    border: 1px solid #ccc; /* Example border */
    display: flex;
}

/* Separate columns for rows */
.project:nth-child(1),
.project:nth-child(3) {
    grid-column: 1; /* First column */
}

.project:nth-child(2),
.project:nth-child(4) {
    grid-column: 2; /* Second column */
    margin-top: -10vh; /* Shift the second row to the left */
}

.project img {
    max-width: 100%; /* Adjust image width */
    max-height: 100%; /* Adjust image height */
}

/*------------------------------------------------------------------------------------*/
/* Styles for the Email Container section */
.EmailContainer {
    height: 70vh; /* Full viewport height */
    /* Other styles for this section */
    position: relative; /* Ensure the container is positioned relative */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
}

.Email {
    width: 800px;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left; /* Center content horizontally */
    text-align: left; /* Center text within */
}

.EmailTitle {
    padding-top: 10vh;
    color: black;
    font-size: 30px;
    font-family: 'PT Serif', sans-serif;
    font-weight: 400;
    /* Remove absolute positioning */
}

.EmailContent {
    padding-top: 1vh;
    color: black;
    font-size: 50px;
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    /* Remove absolute positioning */
}

/* Styles for the Contact Icons */
.ContactIcons {
    padding-top: 30vh;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 80px; /* Add margin to separate from email content */
    left: 50%;
    transform: translateX(-50%);
}

.ContactIcons a {
    margin: 0 15px; /* Add spacing between icons */
}

.ContactIcons img {
    width: 50px; /* Adjust the size of the icons */
    height: auto;
}


/*------------------------------------------------------------------------------------*/
/* Styles for the Sheets section */
.sheet {
    width: 100vw; /* Adjust the width of the sheet */
    height: 500px; /* Adjust the height of the sheet */
    position: relative;
    overflow: hidden;
    top: 40%;
  }
  
  .line {
    position: absolute;
    background-color: #000; /* Color of the lines */
    z-index: 999; /* Set a high z-index value */
  }
  
  .horizontal {
    width: 100%;
    height: 1px; /* Thickness of horizontal lines */
  }
  
  .top {
    top: 0%;
  }
  
  .bottom {
    bottom: 0%;
  }
  
  .vertical {
    height: 100%;
    width: 1px; /* Thickness of vertical line */
    left: 50%; /* Position the vertical line in the middle horizontally */
  }

/*------------------------------------------------------------------------------------*/
/* Styles for the Introcution Body Part */
.IntroBody {
    display: flex;
    width: 100%;
}

.Column1,
.Column2 {
    width: 50%;
    padding: 20px; /* Add padding as needed */
    box-sizing: border-box; /* Include padding in the width calculation */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align content to the bottom */
    position: relative; /* Change position to relative */
}

/* Styles for columns within IntroBody */
.Column1 {
    left: 0; /* Position it at the left side */
    width: 50%; /* Occupy the first half */
    z-index: 2; /* Ensure it's above the sheet */
    position: absolute;
    top: 0%;
    height: 500px;
    padding: 20px;
    /* background-color: aqua; */
}

.Column2 {
    left: 50%; /* Position it at the left side */
    width: 50%; /* Occupy the second half */
    z-index: 2; /* Ensure it's above the sheet */
    position: absolute;
    top: 0%;
    height: 500px;
    padding: 20px;
    /* background-color: fuchsia; */
}

/* Styles for the content inside columns */
.Title1,
.Title2 {
    font-family: 'PT Serif', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    position: relative; /* Set position to relative */
    z-index: 2; /* Ensure the text is above the background */
}

.Body1,
.Body2 {
    font-family: 'PT Serif', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
    line-height: 1.5;
    position: relative; /* Set position to relative */
    z-index: 2; /* Ensure the text is above the background */
}

/* Add hover effect on columns */
.Column1::before,
.Column2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensure it's below the text */
    background-color: rgba(217, 217, 217, 0); /* Set transparent initially */
    pointer-events: none; /* Allow hover events to pass through to the content */
    transition: background-color 3.5s ease-in-out; /* Add a transition for a smooth effect */
}

/* Initially, show the image in the first column and hide the image in the second column */
.image-1 img {
    opacity: 1; /* Initially set opacity to 1 for the first column image */
    transition: opacity 0.5s ease-in-out; /* Add a transition for opacity */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    z-index: 0; /* Ensure the images are above the background */
}

.image-2 img {
    opacity: 0; /* Initially set opacity to 0 for the second column image */
    transition: opacity 0.5s ease-in-out; /* Add a transition for opacity */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    z-index: 0; /* Ensure the images are above the background */
}

/* Change opacity when hovering over columns */
.Column1:hover .image-1 img,
.Column2:hover .image-2 img {
    opacity: 1; /* Show the respective column image on hover */
}

/* Change opacity when hovering over columns */
.Column1:hover .image-1 img {
    opacity: 0; /* Hide the first column image on hover */
}

.Column2:hover .image-2 img {
    opacity: 1; /* Show the second column image on hover */
}


/*------------------------------------------------------------------------------------*/
/* Change background color in the projects sections */
.projects-background {
    background-color: rgb(242, 191, 191); /* Change this to your desired background color */
    transition: background-color 1.5s ease-in-out; /* Add a transition effect */
}


body {
    /* Other styles for body */
    transition: background-color 1.5s ease-in-out; /* Add transition for smooth color change */
}


/*------------------------------------------------------------------------------------*/
/* Style for the project open effects */
.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.5);
    display: none;
    pointer-events: none;
    z-index: 998; /* Ensure it's above other elements */
}
.circle-text {
    position: absolute;
    font-size: 12px;
    color: black;
    display: none; /* Initially hidden */
    z-index: 999; /* Ensure it's above other elements */
    pointer-events: none; /* Avoid interfering with mouse events */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); /* Transparent white */
    display: none; /* Initially hidden */
    pointer-events: none; /* Allows mouse events to go through to the project content */
}

/* Show the overlay when hovering over the project */
.project:hover .overlay {
    display: block;
}
